.persons {
  padding-bottom: clamp(100px, 5.141rem + 4.73vw, 140px);
  position: relative;

  @media(max-width:375px){
    margin-bottom: 80px;
  }

}

.persons__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.persons__title {
}
.title-1 {
}
.persons__arrow {
  display: flex;
  gap: 14px;
  align-items: center;

  @media (max-width: 500px) {
  
    position: absolute;
    bottom: 5px;
    right: 50%;
    transform: translate(50%, -50%);
  }
}
.persons__arrow-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: #313131;

  @media (max-width: 375px) {
    width: 36px;
    height: 36px;
  }

  &:hover {
    background: #fbce51;
  }
}
.persons__arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: #313131;

  @media (max-width: 375px) {
    width: 36px;
    height: 36px;
  }

  &:hover {
    background: #fbce51;
  }
}

.persons__arrow-number {
  width: 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #313131;

  span {
    opacity: 0.6 ;
  }
}


.persons__arrow-mobile {
  display: none;
  gap: 14px;
  align-items: center;
  margin-top: 40px;
  justify-content: center;

  @media (max-width: 500px) {
    display: flex;
  }
}

.persons__wrapper {
  overflow: hidden;
  max-width: 1242px;
  // border:1px solid  #000;


  @media (max-width: 1242px) {
    max-width: 1000px;
    margin: 0 auto;
  }

  @media (max-width: 1050px) {
    max-width: 740px;
    
  }
  @media (max-width: 760px) {
    max-width: 396px;
    
  }
  @media (max-width: 500px) {
    max-width: 320px;
    
  }
}

.persons__cards {
  height: 462px;
  padding: 0 37px;
  margin-top: clamp(40px, 1.945rem + 2.37vw, 60px);
  display: flex;
  gap: 94px;
  transition: all 1s;

  @media (max-width: 1242px) {
    padding: 0;
    gap: 15px;
  }

  @media (max-width: 1050px) {
    
    gap: 50px;
    padding: 0;

  }
  @media (max-width: 760px) {
    gap: 0; 
    height: 482px;
  }
  @media (max-width: 500px) {
    height: 386px;
  }
  
}
.card {
  width: 320px;
  height: 461px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  
  @media (max-width: 760px) {
    width: 396px;
  }
  @media (max-width: 500px) {
    width: 320px;
  }

}

.card__img {
  
  @media (max-width: 500px) {
    width: 244px;
    height: 244px;
  }
}
.card__author {
  margin-top: 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #313131;
  font-style: normal;
}
.card__desc {
  margin-top: 6px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #313131;
  opacity: 0.6;
}
.card__link {
  margin-top: 20px;
  padding: 12px;
  border: 1px solid #3057a2;
  border-radius: 62px;
  padding: 12px;
  width: 113px;
  height: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 60%;
  color: #3057a2;
  text-align: center;
  transition: all 0.5s ease-in;

  &:hover {
    background: #3057a2;
    color: #fff;
  }
}

.swiper-pagination-total {
  color: #313131;
  opacity: 0.6;
}
